body{
background-color: #EAE6E6;
position: relative;
}

.title{
  text-align: center;
  font-family: arial;
  padding-top: 5px;
}

a {
  text-decoration: none;
}
ul {
  list-style:none;
  position:relative;
  left:50%;
}

li {
   float:left;position:relative;
   padding:0 20px 0 20px;
 }
